
.banner-title{
    font-family: Work Sans;
    line-height: 20px;
    position: absolute;
    top: 20px;
    right: 100px;
    font-size: 24px;
text-align: right;
padding: 100px 200px;
margin: 20px;
}
.banner-des{
    text-align: right;
    padding: 50px 100px;
    position: absolute;
    
    margin: 20px ;
    margin-top: 10px ;
    font-size: 15px;
text-align: right;
}
.bot{   
height: 50px;
width: 130px;
margin: 250px 19px ;
border-radius: 5px;
background-color: #F15B22;
}

.banner2{
    display: flex;
    margin: 0px 200px;
    align-items: flex-end;

}
.banner-head{
font-size: 50px;
font-weight: 700px;
line-height: 47px;
padding: 50px 150px;
text-align: center;
margin: 20px;

}
.banner-des{
    position: c;
width: 416px;
height: 104px;
padding:50px 80px 16px;
text-align: left;
;

}
.banner-item{
padding: 100px;
margin: 8px;
text-align: left;
}
.ICON{
    display: flex;
    text-align: center;
    gap: 20px;
}

.h1-title{
align-items: center;   
text-align: center;
}